@model WebApplication1.Models.Product

@{
    ViewBag.Title = "ContactUs";
}

<h2>ContactUs</h2>
<H1>Happy holi</H1>
@ViewBag.Message
<br />
@Model.ProductId
<br />
@Model.ProductName
<br />
@Model.ProductType
<br />

